#messageUpdate {
    position: fixed;
    width:50%;
    z-index: 1029;
    display: none;
}
#messageDel {
    position: fixed;
    width:50%;
    z-index: 1029;
    display: none;
}
#messageAdd {
    position: fixed;
    width:50%;
    z-index: 1029;
    display: none;
}
#inner-message {
    margin: 0 auto;
}